img {
    border: 30px solid transparent; /* Прозрачная рамка */
   }
   img:hover {
    border: 0px solid #00af64 ; /* Цветная рамка */
	box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
	border-radius: 10px; /* Радиус скругления */
   }
   

    #sidebar {    
    top: 100px; /* Расстояние от верхнего края */ 
    bottom: 0; /* Расстояние снизу  */
   }

strong{color: red;}




/*Первое окно*/
	
	.set {
  border-radius: 4px;
  background-image: url(img/S1.png);
  border-radius: 10px; 
  
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;
  
  
  
  



 
  position: absolute;  
  top: 100px;         /*позиция окна(верх)*/
  left: 100px;        /*позиция окна(лево)*/
}



.set span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.set span:after {
  
  position: absolute;
  opacity: 0;
  top: 120px;
  right: -70px;
  transition: 0.1s;
}

.set:hover span {
  padding-right: 30px;
}

.set:hover span:after {
  opacity: 1;
  right: 0;
}
	



/*Второе окно*/


.set0 {
  border-radius: 4px;
  background-image: url(img/S2.png);
  border-radius: 10px;
  
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;



 
  position: absolute;  
  top: 100px;         /*позиция окна(верх)*/
  left: 650px;        /*позиция окна(лево)*/
}



.set0 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.set0 span:after {
  
  position: absolute;
  opacity: 0;
  top: 120px;
  right: -70px;
  transition: 0.1s;
}

.set0:hover span {
  padding-right: 30px;
}

.set0:hover span:after {
  opacity: 1;
  right: 0;
}	



/*Третье окно*/


.seta {
  border-radius: 4px;
  background-image: url(img/S3.png);
  border-radius: 10px;
  
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;



 
  position: absolute;  
  top: 100px;         /*позиция окна(верх)*/
  left: 1200px;        /*позиция окна(лево)*/
}



.seta span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seta span:after {
  
  position: absolute;
  opacity: 0;
  top: 120px;
  right: -70px;
  transition: 0.1s;
}

.seta:hover span {
  padding-right: 30px;
}

.seta:hover span:after {
  opacity: 1;
  right: 0;
}	


/*Четвёртое окно*/


.seti {
  border-radius: 4px;
  background-image: url(img/S4.png);
  border-radius: 10px;
  
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 300px;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;



 
  position: absolute;  
  top: 400px;         /*позиция окна(верх)*/
  left: 100px;        /*позиция окна(лево)*/
}



.seti span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seti span:after {
  
  position: absolute;
  opacity: 0;
  top: 120px;
  right: -70px;
  transition: 0.1s;
}

.seti:hover span {
  padding-right: 30px;
}

.seti:hover span:after {
  opacity: 1;
  right: 0;
}	



/*Пятое окно*/


.setj {
  border-radius: 4px;
  background-image: url(img/S5.png);
  border-radius: 10px;
  
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;



 
  position: absolute;  
  top: 400px;         /*позиция окна(верх)*/
  left: 650px;        /*позиция окна(лево)*/
}



.setj span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.setj span:after {
  
  position: absolute;
  opacity: 0;
  top: 120px;
  right: -70px;
  transition: 0.1s;
}

.setj:hover span {
  padding-right: 30px;
}

.setj:hover span:after {
  opacity: 1;
  right: 0;
}



/*Шестое окно*/


.seto {
  border-radius: 4px;
  background-image: url(img/S6.png);
  border-radius: 10px;
  
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;



 
  position: absolute;  
  top: 400px;         /*позиция окна(верх)*/
  left: 1200px;         /*позиция окна(лево)*/
}



.seto span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seto span:after {
  
  position: absolute;
  opacity: 0;
  top: 120px;
  right: -70px;
  transition: 0.1s;
}

.seto:hover span {
  padding-right: 30px;
}

.seto:hover span:after {
  opacity: 1;
  right: 0;
}
