@font-face {
	font-family: 'Appetite';
	src: url('appetite.eot'); /* IE 9 Compatibility Mode */
	src: url('appetite.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('appetite.woff2') format('woff2'), /* Super Modern Browsers */
		url('appetite.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('appetite.ttf') format('truetype'), /* Safari, Android, iOS */
		url('appetite.svg#appetite') format('svg'); /* Chrome < 4, Legacy iOS */
}