@font-face {
	font-family: 'Arkhip';
	src: url('arkhip.eot'); /* IE 9 Compatibility Mode */
	src: url('arkhip.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('arkhip.woff2') format('woff2'), /* Super Modern Browsers */
		url('arkhip.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('arkhip.ttf') format('truetype'), /* Safari, Android, iOS */
		url('arkhip.svg#arkhip') format('svg'); /* Chrome < 4, Legacy iOS */
}