@font-face {
	font-family: 'Lato Italic';
	src: url('/Praktika/Laba/fonts/lato_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('/Praktika/Laba/fonts/lato_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/Praktika/Laba/fonts/lato_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/Praktika/Laba/fonts/lato_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/Praktika/Laba/fonts/lato_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/Praktika/Laba/fonts/lato_italic.svg#lato_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}